:root {
    --color-cod-gray: #141414;
    --color-cod-gray-light: #1c1c1c;
    --color-mineshaft: #222222;
    --color-boulder: #777777;
    --color-white: #cccccc;

    --color-main: #ee720d;
    --color-accent: #1eaedb;
    --color-red: #ff4c4c;
    --color-green: #2ec933;

    --fontsize-small: 0.9em;
    --fontsize-normal: 1em;
    --fontsize-medium: 1.5em;
    --fontsize-large: 1.75em;

    --border-radius: 0.2em;

    --fontstack: "Ubuntu Mono", monospace;
}

body {
    background-color: var(--color-cod-gray);
    color: var(--color-white);
    font-family: "Ubuntu Mono";
    margin: 0;
    padding: 0;
    font-size: var(--font-size-small);
    text-rendering: optimizeLegibility;
    line-height: 1.3em;
}

main {
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
    box-sizing: border-box;
}

header {
    margin-top: 0.2em;
    margin-bottom: 0em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    letter-spacing: 0.1em;
    font-size: var(--fontsize-large);
}

a {
    color: var(--color-main);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dir {
    color: var(--color-accent);
}

.file {
    color: var(--color-white);
}

.index {
    background-color: var(--color-cod-gray-light);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-mineshaft);
    margin-bottom: 2em;
}

table {
    border-spacing: 0;
    padding: 0.5em 1em;
    width: 100%;
    border-collapse: collapse;
}

table thead {
    border-bottom: 2px solid var(--color-mineshaft);
}

table tr:last-child td {
    border-bottom: none;
}

table tr td:first-child {
    text-align: left;
    width: auto;
}

table tr td:nth-child(2) {
    width: 10%;
}

table tr td:last-child {
    width: 30%;
}

table tr td {
    text-align: right;
}

table .del,
table .ren {
    opacity: 0;
}

table tr:hover .del,
table tr:hover .ren {
    opacity: 1;
}

table .del button,
table .ren button {
    cursor: pointer;
    color: var(--color-red);
    background: none;
    border: none;
}

table .ren button {
    color: var(--color-main);
}

table .del button:hover,
table .ren button:hover {
    text-decoration: underline;
}

.index a {
    display: block;
}

table th, table td {
    text-align: left;
    padding: 0.25em 0.5em;
}

.login input {
    border-radius: var(--border-radius);
    background-color: var(--color-cod-gray-light);
    border: 2px solid var(--color-mineshaft);
    padding: 0.25em 0.5em;
    color: var(--color-white);
}

.login button {
    color: var(--color-main);
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--color-cod-gray-light);
    border: 2px solid var(--color-mineshaft);
    padding: 0.25em 0.5em;
}

.login button:hover {
    color: var(--color-accent);
}

.upload button {
    color: var(--color-main);
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--color-cod-gray-light);
    border: 2px solid var(--color-mineshaft);
    padding: 0.25em 0.5em;
}
