:root {
  --color-bg: #141414;
  --color-bg1: #1c1c1c;
  --color-bg2: #222222;
  --color-bg3: #777777;

  --color-fg: #cccccc;

  --color-primary: #ee720d;
  --color-secondary: #1eaedb;

  --color-danger: #ff4c4c;
  --color-success: #2ec933;
  --color-pink: #cb6dce;

  --border-radius: 0.2rem;

  --fs-small: 0.9rem;
  --fs-normal: 1rem;
  --fs-medium: 1.2rem;
  --fs-large: 1.5rem;

  line-height: 1.5;
  font-weight: 400;

  color: var(--color-fg);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: 'Ubuntu-Mono', sans-serif;
  font-size: var(--fs-medium);
}

main {
  max-width: 90%;
  width: 960px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

button {
  cursor: pointer;
  background-color: var(--color-bg1);
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-bg2);
  color: var(--color-fg);
  text-decoration: none;
  transition: border-color 0.1s;
}

button:hover {
  background-color: var(--color-bg2);
  border-color: var(--color-bg3);
  color: var(--color-fg);
}
